parameters:
    git_dir: .
    bin_dir: vendor/bin
    process_timeout: 180
    tasks:
        # PHP Code Sniffer.
        phpcs:
          standard: ./vendor/drupal/coder/coder_sniffer/Drupal
          ignore_patterns:
            - vendor/
            - node_modules/
          triggered_by:
            - php
            - install
            - module
            - inc
          whitelist_patterns: []
          warning_severity: ~
          metadata:
            priority: 300
        # PHP Mess Detector.
        phpmd:
          exclude:
            - vendor/
          triggered_by:
            - php
            - install
            - module
            - inc
        # Commit message format.
        git_commit_message:
          matchers: '/^([A-Z]+\-\d+|Issue #\d+): [A-Z].+\./'
          case_insensitive: false
          enforce_no_subject_trailing_period: false
          multiline: false
          max_body_width: 0
          max_subject_width: 0
        phpunit: ~
        behat: ~
