drupal:
  core: "8"
  base_url: "http://web"
  site:
    profile: standard
  database:
    scheme: "mysql"
    host: "db"
    port: "3306"
    name: "drupal"
    user: "root"
    password: ""
  settings:
    conf:
      file_scan_ignore_directories:
        - vendor
        - ${drupal.root}
        - build
      drupal_http_request_fails: false
  post_install:
      - ./vendor/bin/drush --root=$(pwd)/build cr
  drush:
    options:
      ignored-directories: "${drupal.root}"
      uri: "${drupal.base_url}"

commands:
  drupal:site-setup:
    - { task: "run", command: "drupal:drush-setup" }
    - { task: "run", command: "drupal:settings-setup" }
